/* Corps de la page */
.body-login {
    background-color: #fefaf7;
    font-family: Arial, sans-serif;
    color: #5f4637;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Conteneur principal */
.container-login {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

/* Titre */
.login-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Champs du formulaire */
.form-group {
    margin-bottom: 15px;
}

.label-login {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-login {
    width: calc(100% - 20px); /* Largeur dynamique pour équilibrer l'espace */
    padding: 10px;
    margin: 0 auto;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Bouton de connexion */
.button-login {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #e0ddd8;
    border: none;
    border-radius: 4px;
    color: #5f4637;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto 0 auto;
}

.button-login:hover {
    background-color: #d6d2cd;
}

/* Liens */
.link-login {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #5f4637;
    text-decoration: none;
}

.link-login:hover {
    text-decoration: underline;
}

