:root {
    --primary-color: #423E31;
    --secondary-color: #5A4A39;
    --background-color: #F2ECE8;
    --search-bg-color: #FFF9F6;
    --border-color: #d3cbb8;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    flex-wrap: wrap;
}
.left-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; 
    height: auto;
    margin: 0px;
    padding: 0px;
}
.left-upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.left-lower {
    padding: 10px;
}
.web-site-name a {
    text-decoration: none;
    font-family: 'Inspiration', cursive;
    font-size: 2.3em;
    color: var(--primary-color);
}
.search {
    display: flex;
    align-items: center;
    background-color: var(--search-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    margin-top: 10px;
}
.searchTerm {
    background-color: var(--search-bg-color);
    border: none;
    height: 40px;
    flex-grow: 1;
    padding: 0 10px;
    outline: none;
}
.searchTerm::placeholder {
    color: var(--primary-color);
    opacity: 0.5;
}
.searchButton {
    border: none;
    background-color: var(--search-bg-color);
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 18px;
}
.searchButton:hover {
    background-color: #f0e9e4;
    color: var(--secondary-color);
}
.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}
.auth-buttons a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
}
.nav-horizontal {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4em;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.nav-horizontal li a {
    text-decoration: none;
    color: var(--primary-color); 
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    position: relative; 
}
.nav-horizontal li a::after {
    content: '';
    position: absolute; 
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color); 
    transition: width 0.3s;
}
.nav-horizontal li a:hover::after {
    width: 100%; 
}
.nav-horizontal li a:hover {
    color: var(--secondary-color); 
}
.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}
.auth-buttons a {
    text-decoration: none;
    color: var(--primary-color); 
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
}
.auth-buttons a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color); 
    bottom: -2px; 
    left: 0;
    transition: width 0.3s;
}
.auth-buttons a:hover::after {
    width: 100%;
}
.hamburger-icon{
    display: none;
}
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
    /* .header-logo {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    } */
    .left-upper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .top-phone {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
    }
    #burger{
        order:2
    }
    #name{
        order:1
    }
    .web-site-name {
        padding: 10px;
        flex-grow: 1;
        text-align: left;
    }
    .left-nav {
        padding-left: 0;
        width: 100%;
    }
    .hamburger-icon {
        display: block;
        font-size: 1.5em;
        padding: 10px;
    }
    .left-lower {
        display: none;
    }
    
    .auth-buttons {
        display: none;
    }
    .search {
        width: 70%;
        max-width: 400px;
    }
    .nav-horizontal {
        display: none;
    }
}
@media (max-width: 480px) {
    .web-site-name a {
        font-size: 1.75em;
    }
    .nav-horizontal li a {
        font-size: 0.875em;
    }
    .search {
        width: 70%;
        max-width: 300px;
    }
}